<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>卡来宝 -- 让车生活更美好！</title>
    <!--  SEO META TAGS -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="ghostrin" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <!-- Mobile Specific Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--Core CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/main.css" />
    <!--page CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="css/user-center.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body class="user-center">
    <!-- Top-bar BEGIN-->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <p>
                        <a href="javascript:window.external.AddFavorite('http://www.kalaibao.com','卡来宝')">收藏卡来宝</a></li> |
                        <a href="http://www.weibo.com/client=XXXX">关注卡来宝</a>
                    </p>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <ul>
                        <li class="login"><a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i>登 录</a></li>
                        <li class="sign-in"><a href="#"><i class="fa fa-tint"></i>注册 </a></li>
                        <li class="order"><a href="#"><i class="fa fa-shopping-cart"></i>订单查询</a></li>
                        <li class="user-center"><a href="#"><i class="fa fa-group"></i>用户中心</a></li>
                        <li class="help"><a href="#"><i class="fa fa-question"></i>帮助</a></li>
                        <!-- search form, maybe you like -->
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a>
                            <ul class="search-items radius-bottom">
                                <li class="search-form">
                                    <form method="get" id="searchform" action="action">
                                        <div>
                                            <input class="radius" type="text" size="" name="s" id="s" value="请输入关键字" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
                                            <input type="submit" id="searchsubmit" value="Search" />
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/.top-bar END-->

    <!-- Header BEGIN-->
    <header id="header">
        <nav class="navbar navbar-inverse" role="navigation">
            <div id="sticky_navigation">
                <div class="container">

                    <!--JUST FOR MOBILE-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">点击展开</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <h1 class="logo">
                            <a href="#" title="卡来宝" class="navbar-brand"><img src="../images/logo.png"></a>
                            <i class="fa fa-slogn"></i>
                        </h1>
                    </div>

                    <!-- navbar-header END-->
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="../index.html">首 页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">车 险 <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">来宝好车险</a></li>
                                    <li><a href="#">保单验真</a></li>
                                </ul>
                            </li>
                            <li><a href="#">汽车召回</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">福 利 <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">投保有礼</a></li>
                                    <li><a href="#">推荐有礼</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">公 益 <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">公益新闻</a></li>
                                    <li><a href="#">公益图片</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">联系我们</a></li>
                        </ul>
                    </div>

                </div>
                <!--/.container-->
            </div>
            <!--/#sticky_navigation-->
        </nav>
        <!--/nav-->
    </header>
    <!--/header-->
    <!-- =================== INCLUDE ABOVE TO YOUR WEBSITE ========================= -->
    <div class="container margin-top">
        <div class="row">
            <!-- left side bar -->
            <aside class="col-md-3">

                <!-- 用户基本资料 -->
                <div class="user-info">
                    <div class="user-info-detail clearfix">
                        <img src="../images/user_portrait.jpg" class="img-thumbnail">
                        <h6 id="userName">ghostrin</h6>
                        <h6 id="userLevel">普通管理员</h6>
                    </div>                    
                    <ul class="user-info-status">
                        <li class="with-tips">
                            <i class="fa fa-users"></i>
                            <div class="tips">
                                <i class="fa fa-caret-up fa-2x"></i>
                                <p>您已完成实名认证</p>
                            </div>
                        </li>
                        <li class="with-tips">
                            <i class="fa fa-calculator"></i>
                            <div class="tips">
                                <i class="fa fa-caret-up fa-2x"></i>
                                <p>您已绑定手机号131****5366</p>
                            </div>
                        </li>
                        <li class="with-tips">
                            <i class="fa fa-envelope-o"></i>
                            <div class="tips">
                                <i class="fa fa-caret-up fa-2x"></i>
                                <p>您已完成邮箱验证 <a href='#' style='color:rgb(20,104,236)'>点击修改</a></p>
                            </div>
                        </li>
                        <li class="with-tips">
                            <i class="fa fa-lock"></i>
                            <div class="tips">
                                <i class="fa fa-caret-up fa-2x"></i>
                                <p>您已设置支付密码 <a href='#' style='color:rgb(20,104,236)'>点击修改</a></p>
                            </div>
                        </li>
                        <li class="with-tips">
                            <i class="fa fa-edit"></i>
                            <div class="tips">
                                <i class="fa fa-caret-up fa-2x"></i>
                                <p>修改个人资料信息 <a href='#' style='color:rgb(20,104,236)'>点击修改</a></p>
                            </div>
                        </li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                    <div class="status-no">您还有认证未完成</div>
                    <!-- <div class="status-yes">恭喜您完成所有认证</div>  根据完成的状态，显示不同 -->
                    <div class="status-txt">
                        安全等级：<b class="red">中</b>
                        <a href="#" class="pull-right">提升>></a>
                    </div>
                </div>

                <!-- 左侧导航 -->
                <ul class="sidebar-nav">
                    <li>
                        <a data-toggle="collapse" href="#payment" class="collapsed"><i class="fa fa-credit-card"></i> 我的订单</a>
                        <ul id="payment" class="menu-submenu list-unstyled collapse">
                            <li><a href="paid.html"><i class="fa fa-cart-plus"></i> 已支付</a></li>
                            <li><a href="non-payment.html"><i class="fa fa-paypal"></i>  未支付</a></li>
                        </ul>
                    </li>
                    <li><a href="my-recall.html" class="no-collapsed"><i class="fa fa-retweet"></i> 我的召回</a></li>
                    <li><a href="my-car.html" class="no-collapsed"><i class="fa fa-car"></i> 我的爱车</a></li>
                    <li><a href="my-wallet.html" class="no-collapsed"><i class="fa fa-money"></i> 我的钱包</a></li>
                    <li><a href="my-beans.html" class="no-collapsed"><i class="fa fa-gift"></i> 我的卡豆</a></li>
                    <li><a href="diffuse-center.html" class="no-collapsed"><i class="fa fa-paw"></i> 推广中心</a></li>
                    <li><a href="updateto-vip.html" class="no-collapsed"><i class="fa fa-paper-plane-o"></i> 会员升级</a></li>
                    <li>
                        <a data-toggle="collapse" href="#account" class="collapsed"><i class="fa fa-list-alt"></i> 管理账户</a>
                        <ul id="account" class="menu-submenu list-unstyled collapse">
                            <li><a href="about-me.html"><i class="fa fa-arrow-circle-right"></i> 个人资料</a></li>
                            <li><a href="security-setting.html"><i class="fa fa-arrow-circle-right"></i> 安全设置</a></li>
                            <li><a href="manage-info.html"><i class="fa fa-arrow-circle-right"></i> 消息管理</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>

            <!-- main content -->
            <div class="col-md-9">
                <!-- 消息提示区域 -->
                <div class="alert alert-primary">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">知道了</button>
                    <div class="badge-primary">提 醒</div><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;&nbsp;交易提醒：
                    <a href="pending-pay.html">待处理订单（0）</a> &nbsp;&nbsp;&nbsp;&nbsp;消息提醒：
                    <a href="sys-info.html">系统消息（2）</a>
                </div>

                <!-- 账号信息 -->
                <div class="account-center clearfix">
                    <!-- 我的余额 -->
                    <div class="balance-box">
                        <div class="box-title">
                            <i class="fa fa-balance"></i>
                            <h5>
                                可用余额 <br/>
                                <b class="red">450元</b>
                             </h5>
                        </div>
                        <p>
                            <a href="withdraw.html" class="btn btn-ar btn-danger btn-small">提现</a>
                            <a href="recharge.html" class="btn btn-ar btn-danger btn-small">充值</a>
                            <a href="manage-money.html" class="btn btn-ar btn-danger btn-small disabled">理财</a>
                            <a href="buy-card.html" class="btn btn-ar btn-danger btn-small">购买会员卡</a>
                        </p>
                    </div>
                    <!-- 即将到账 -->
                    <div class="account-box">
                        <div class="box-title">
                            <i class="fa fa-account"></i>
                            <h5>
                                即将到账 <br/>
                                <b class="red">450元</b>
                             </h5>
                        </div>
                        <p>预计2天后到账</p>
                    </div>
                    <!-- 我的卡豆 -->
                    <div class="goldenBean-box">
                        <div class="box-title">
                            <i class="fa fa-goldenBean"></i>
                            <h5>
                                 我的卡豆<br/>
                                <b class="red">4500</b>
                             </h5>
                        </div>
                        <p>
                            <a href="#" class="btn btn-ar btn-danger">购买会员卡</a>
                            <a href="#" class="btn btn-ar btn-danger disabled">兑换商品</a>
                        </p>
                    </div>
                </div>

                <!-- 主体区域 -->

                <h3 class="bottom-line">
                    <span class="bottom-line-red">我的资料</span>                   
                </h3> 

                <div class="aboutme-area">
                    资料完善程度：
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                            50% 
                        </div>
                    </div> 
                    <p>（完善的个人资料信息，有助于卡来宝为您提供更详尽个性化的服务！）</p>                   
                </div>

                <form action="#" class="row form-horizontal margin-bottom">
                  <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="userName">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">真实姓名：</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">性别：</label>
                    <div class="col-sm-4 radio">
                      <label>
                        <input type="radio" name="optionsRadios" value="option1" checked> 男  
                      </label>&nbsp;&nbsp;&nbsp;&nbsp;                   
                      <label>
                        <input type="radio" name="optionsRadios" value="option1"> 女  
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="birth" class="col-sm-2 control-label">出生年月：</label>
                    <div class="col-sm-8 form-inline">                                            
                        <input type="text" class="form-control" style="width:70px"> 年  
                        <input type="text" class="form-control" style="width:70px"> 月  
                        <input type="text" class="form-control" style="width:70px"> 日                       
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">电子邮箱：</label>
                    <div class="col-sm-4">
                      <input type="email" class="form-control" id="email">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="mobile" class="col-sm-2 control-label">手机号码：</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="mobile">
                    </div>
                    <div class="col-sm-4"><button class="btn btn-disabled">立即验证</button></div>
                  </div>

                  <div class="form-group">
                    <label for="ver-code" class="col-sm-2 control-label">收到的验证码：</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="ver-code">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">通讯地址：</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="address">
                    </div>
                  </div>            

                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-2">
                      <button type="submit" class="btn btn-danger"> 完 成 修 改 </button>
                    </div>                    
                  </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer">
        <p>Copyright © 2003-2015 kalaibao.net, All Rights Reserved　</p>
    </div>
    <!-- / Copyright -->
    <!-- back top -->
    <div id="back-top" style="display: block;">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- /.back top -->

    <!--login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">会员登录</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group clearfix">
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" value="用户名" onfocus="if(this.value=='用户名'){this.value='';this.style.color='#555'}" onblur="if(this.value==''){this.value='用户名';this.style.color='#f00'}">
                            </div>
                            <br>
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">记住用户名和密码
                                </label>
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary pull-right">用户登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/.Modal -->

    <!-- ============= JavaScript ============= -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>   
    <script src="../js/app.js"></script>
    <script src="../member/js/user-center.js"></script>

    <!-- ============= Statistics Script ============= -->
    <!-- BAIDU  statistics -->
    <!--<script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fxxxxxxxxxxxxxxxx' type='text/javascript'%3E%3C/script%3E"));
    </script>-->
    <!-- 51la  Statistics -->
    <!--<script language="javascript" type="text/javascript" src="http://js.users.51.la/yyyyy.js"></script>
    <noscript><a href="http://www.51.la/?yyyyyy" target="_blank"><img alt="卡来宝统计" src="http://img.users.51.la/yyyyyy.asp" style="border:none" /></a></noscript>-->
</body>

</html>
