{% extends 'common/member_common.html' %}
{% load staticfiles %}
{% block content_title %}会员升级{% endblock %}
{% block content_detail %}
    <div class="panel panel-border">
        <div class="panel-body">
            <h6>卡来宝会员升级资费标准：</h6>
            <ol>
                <li>卡来宝黄金卡：48元（普通会员升黄金会员）</li>
                <li>卡来宝钻石卡：88元（普通会员直升钻石会员）</li>
                <li>黄金会员升钻石会员：支付差额（40元）。</li>
            </ol>
            <form action="#">
                <div class="col-md-6 tc">
                    <img src="{% static 'images/members/gold-card.jpg' %}">
                    <h6><input type="radio"> 黄金会员卡 48元</h6>
                </div>
                <div class="col-md-6 tc">
                    <img src="{% static 'images/members/diamond.jpg' %}">
                    <h6><input type="radio"> 钻石会员卡 88元</h6>
                </div>
{#                <div class="col-md-12">#}
{#                    <b>支付方式：</b> <input type="radio"> 钱包余额 &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"> 网银支付#}
{#                    <h6>您账户内有XXXX卡豆，可以抵扣XX元，您只需再支付XX元即可升级。</h6>#}
{#                </div>#}
                <div class="col-sm-offset-5 col-md-2" style="margin-top:20px;"><a href="/members/pay/" class="btn btn-danger">确定，去支付</a>
                </div>
            </form>

        </div>
    </div>
    <div class="row margin-bottom">
        <h5> 会员升级说明：</h5>
        <ol>
            <li>卡来宝会员分为普通会员、黄金会员、钻石会员三个级别，用户购买车险以后的补贴比例，与会员等级相关联，会员等级越高，补贴也就越高。</li>
            <li>会员如需提升等级，可以购买卡来宝会员卡，在线自动升级。每个会员对应一个唯一会员卡号。</li>
            <li>会员每推荐一个好友注册，卡来宝即送您500卡豆，当卡豆达到4800个，即可用4800卡豆兑换一个会员等级的会员卡，并在线升级。</li>
            <li>购买卡来宝会员卡的支付方式包括：我的钱包余额支付、卡豆支付、网银支付等。</li>
            <li>若用户已经为黄金会员，升级为钻石会员，则只需要支付其差额40元，或4000卡豆。</li>
        </ol>
    </div>
{% endblock %}
{% block footer %}
    <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h6 class="modal-title" id="myModalLabel">设定收款账户</h6>
                </div>
                <div class="modal-body">
{#                    <div class="gray-bg">#}
{#                        这里有一大段文字，这里有一大段文字，这里有一大段文字，这里有一大段文字，这里有一大段文字，这里有一大段文字，这里有一大段文字，这里有一大段文字，#}
{#                    </div>#}

                    <form class="form-horizontal padding-20">
                        <div class="form-group">
                            <label for="account" class="col-sm-3 control-label">银行卡号：</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="account">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">真实姓名：</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">开户省市：</label>

                            <div class="col-sm-7">
                                <!-- 地区级联 -->
                                <select id="SelProvince" class="form-control" style="width:100px; float:left">
                                    <option>请选择</option>
                                </select>

                                <select id="SelCity" class="form-control"
                                        style="display: none; width:100px; float:left">
                                    <option>请选择</option>
                                </select>

                                <select id="SelArea" class="form-control"
                                        style="display: none; width:100px; float:left">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">开户行：</label>

                            <div class="col-sm-9">
                                <ul class="bank-list">
                                    <li><input type="radio"><img src="{% static 'images/bank/gongshangbc.png' %}"></li>
                                    <li><input type="radio"><img src="{% static 'images/bank/jianshebc.png' %}"></li>
                                    <li><input type="radio"><img src="{% static 'images/bank/jiaotongbc.png' %}"></li>
                                    <li><input type="radio"><img src="{% static 'images/bank/mingshengbc.png' %}"></li>
                                    <li><input type="radio"><img src="{% static 'images/bank/nongyebc.png' %}"></li>
                                    <li><input type="radio"><img src="{% static 'images/bank/xingyebc.png' %}"></li>
                                    <li><input type="radio"><img src="{% static 'images/bank/zgbc.png' %}"></li>
                                    <li><input type="radio"><img src="{% static 'images/bank/zhaoshangbc.png' %}"></li>
                                    <li><input type="radio"><img src="{% static 'images/bank/zhongxingbc.png' %}"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-danger"> 支 付</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

