.inviteWord{border:3px solid #fff;color: #fff;padding: 8px;font-size: 1em!important}
.smallWord-12{display: block;font-size: 12px;color: #fff}
.margin-top-20{margin-top: 20px}
.declare{background: url('../images/gift/recallBg.png');padding: 40px 60px;background-size: 100%;margin: 0}
.margin-left-10{margin-left: 10px}
.border-1{border:1px solid #ddd;}
.cocompany{background: url('../images/gift/cocompany.png') no-repeat;width: 190px;height: 55px; }
.co2{background-position: 0 -59px;}
.co3{background-position: 0 -112px;}
.co4{background-position: 0 -174px;}

.padding-20{padding: 20px}
.padding-10{padding: 10px}
.noborder-top{border-top: none}