<div class="navbar theme-red">
    <div class="navbar-inner wechat_bjcolor">
        <div class="left"><a href="#" class="link back">返回</a></div>
        <div class="center sliding">官网支付</div>
    </div>
</div>
<div  data-page="bx-bxgsweb" class="page no-toolbar">
    <div id="bxgs_pay" class="page-content theme-red" style="overflow-x:hidden; overflow-y:hidden;">
        <iframe src="#" width="100%" height="100%" frameborder="0" id="bxgs_website" style="overflow-x:hidden;"></iframe>
    </div>
    <div id="pay_success" style="color: #00d449; display: none; top: 20%;text-align: center; font-size:24px;" class="page-content theme-red">
        恭喜您支付成功！<br>页面将在5秒后跳转
    </div>
</div>
