{% load staticfiles %}
<div class="navbar">
    <div class="navbar-inner wechat_bjcolor">
        <div class="left sliding">
            <a href="#" class="link back">返回</a>
        </div>
        <div class="center sliding">卡来宝车险</div>
    </div>
</div>
<div data-page="car-info" class="page">
    <div class="page-content">
        <div class="content-block">
            <div class="list-block" id="car_list_info">
                <ul>

                    <li>
                        <a href="#" class="item-link item-content">

                            <div class="item-inner">
                                <div class="item-title wechat_font14"></div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
