<div class="navbar theme-red">
    <div class="navbar-inner wechat_bjcolor">
        <div class="left"><a href="#" class="link back">返回</a></div>
        <div class="center sliding">卡来宝车险</div>
        <div class="right"><a href="#" class="link" klb="bxgs-pay">官网支付</a></div>
    </div>
</div>
<div data-page="bx-userinfo" class="page">
    <div class="page-content theme-red">
        <form id="my-form" class="list-block">
            <ul id="pay-user-info">
                <li class="item-divider"><span class="group_title_color">投保人信息</span></li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">姓名</span></div>
                            <div class="item-input">
                                <input type="text" class="wechat-font14" fc="tb_username" name="C_APP_NAME"
                                       placeholder="姓名" id="C_APP_NAME">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">身份证</span></div>
                            <div class="item-input">
                                <input type="text" name="C_APP_IDENT_NO" placeholder="身份证" id="C_APP_IDENT_NO"
                                       class="wechat-font14" fc="tb_identno">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">联系电话</span></div>
                            <div class="item-input">
                                <input type="text" name="C_APP_TEL" placeholder="联系电话" id="C_APP_TEL"
                                       class="wechat-font14" fc="tb_apptel">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">地址</span></div>
                            <div class="item-input">
                                <input type="text" name="C_APP_ADDR" placeholder="地址" id="C_APP_ADDR"
                                       class="wechat-font14" fc="tb_appaddr">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">邮箱</span></div>
                            <div class="item-input">
                                <input type="email" name="C_APP_EMAIL" placeholder="邮箱" id="C_APP_EMAIL"
                                       class="wechat-font14" fc="tb_appemail">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item-divider"><span class="group_title_color">被投保人信息</span></li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">姓名</span></div>
                            <div class="item-input">
                                <input type="text" name="C_INSRNT_NME" placeholder="姓名" id="C_INSRNT_NME"
                                       class="wechat-font14" fc="btb_username">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">身份证</span></div>
                            <div class="item-input">
                                <input type="text" name="C_INSRNT_IDENT_NO" placeholder="身份证" id="C_INSRNT_IDENT_NO"
                                       class="wechat-font14" fc="btb_identno">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">联系电话</span></div>
                            <div class="item-input">
                                <input type="text" name="C_INSRNT_TEL" placeholder="联系电话" id="C_INSRNT_TEL"
                                       class="wechat-font14" fc="btb_apptel">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">地址</span></div>
                            <div class="item-input">
                                <input type="text" name="C_INSRNT_ADDR" placeholder="地址" id="C_INSRNT_ADDR"
                                       class="wechat-font14" fc="btb_appaddr">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">邮箱</span></div>
                            <div class="item-input">
                                <input type="email" name="C_INSRNT_EMAIL" placeholder="邮箱" id="C_INSRNT_EMAIL"
                                       class="wechat-font14" fc="btb_appemail">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item-divider"><span class="group_title_color">配送信息</span></li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">收件人</span></div>
                            <div class="item-input">
                                <input type="text" name="C_CONTACT_NAME" placeholder="收件人" id="C_CONTACT_NAME"
                                       class="wechat-font14">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">手机号</span></div>
                            <div class="item-input">
                                <input type="text" name="C_CONTACT_TEL" placeholder="手机号" id="C_CONTACT_TEL"
                                       class="wechat-font14">
                            </div>
                        </div>
                    </div>
                </li>
{#                <!--#}
{#                <li id="C_DELIVERY_PROVINCE_LI">#}
{#                    <a href="#" class="item-link smart-select" data-back-on-select="true" data-navbar-theme="red"#}
{#                       data-form-theme="red" data-searchbar="true" data-searchbar-placeholder="搜索城市">#}
{#                        <select name="C_DELIVERY_PROVINCE" id="C_DELIVERY_PROVINCE">#}
{#                            <option value="" selected>请选择省</option>#}
{#                        </select>#}
{##}
{#                        <div class="item-content">#}
{#                            <div class="item-inner">#}
{#                                <div class="item-title wechat-font14">收货地址(省)</div>#}
{#                                <div class="wechat-font14 item-after"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </li>#}
{#                <li id="C_DELIVERY_CITY_LI" style="display: none;">#}
{#                    <a href="#" class="item-link smart-select" data-back-on-select="true" data-navbar-theme="red"#}
{#                       data-form-theme="red" data-searchbar="true" data-searchbar-placeholder="搜索城市">#}
{#                        <select name="C_DELIVERY_CITY" id="C_DELIVERY_CITY">#}
{#                            <option value="" selected>请选择(市/县)</option>#}
{#                        </select>#}
{##}
{#                        <div class="item-content">#}
{#                            <div class="item-inner">#}
{#                                <div class="item-title wechat-font14">收货地址(市/县)</div>#}
{#                                <div class="wechat-font14 item-after"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </li>#}
{#                -->#}
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label wechat-font14"><span class="item_title_color">详细收件地址</span></div>
                            <div class="item-input">
                                <input type="text" name="C_ADDRESS" placeholder="输入收件地址" id="C_ADDRESS"
                                       class="wechat-font14">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <input name="ORDER_ID" id="ORDER_ID" type="hidden" value="{{ PayInfo.order_id }}">
            <input name="Session_ID" id="Session_ID" type="hidden" value="{{ PayInfo.session_id }}">
            <input name="bxgs" id="bxgs" type="hidden" value="{{ bxgs }}">
            <input name="vin-pay" id="vin-pay" type="hidden" value="{{ CarInfo.vin }}">
            <input name="C_IDET_NAME" id="C_IDET_NAME" type="hidden" value="{{ PayInfo.app_name }}">
        </form>
    </div>
    <div class="toolbar theme-red">
        <div class="toolbar-inner">
            <a href="#" class="link"></a>
            <a href="#" class="button active" klb="bxgs-pay">官网支付</a>
            <a href="#" class="link"></a>
        </div>
    </div>
</div>
