<html xmlns="http://www.w3.org/1999/xhtml">

<style type="text/css">
div{margin:5px;border:0;padding:0;}
#Box1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    width: 70%
}

#Box2 {
    text-align: right;
    margin: 39px 17% 10% 10%;
}
</style>

<head>
<title>卡来宝.网站升级</title>
</head>
<body>
<div id="Box1" >
    <h1>网站升级维护公告</h1>
    <h3>由于卡来宝网站正在全面升级维护各项功能中，给您带来不便，恳请谅解。待系统维护完毕后，即可正常访问。</h3>
</div>
<div id="Box2">
    卡来宝信息科技有限公司<br>
    2015年11月22日
</div>
</body>
</html>