{% extends 'common/common.html' %}
{% load staticfiles %}
{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'stylesheets' %}/insureGift.css"/>
{% endblock %}
{% block content %}
<!--/header-->
    <!-- =================== INCLUDE ABOVE TO YOUR WEBSITE ========================= -->

    <!-- banner  -->
    <section class="margin-top progress-bar-yellow progress-bar-striped">
        <div class="container">
            <div class="row baojia">
                <div class="col-md-1">
                    <img src="{% static 'images/' %}insureGift/san.png">
                </div>
                <div class="col-md-5 ">
                    <h1 class="animation animated-item-1">
                        <img src="{% static 'images/' %}insureGift/banner.png">
                    </h1>
                    <p class="margin-10 words">
                        通过卡来宝购买车险，直达保险公司官网支付，除享受保险公司标准折扣+15%网销折扣外，卡来宝还会再额外提供现金补贴，钻石会员最高现金补贴比例高达商业保费的8%，上不封顶！
                    </p>
                    <p>
                        <a href="#" class="btn btn-danger margin-10">
                            立即投保 <i class="fa fa-play"></i>
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/' %}insureGift/person.png">
                </div>
            </div>
        </div>
    </section>
    <!-- / banner  -->

    <!-- 投保有礼 -->
    <section id="" class="margin-top">
        <div class="container">
            <div class="table-responsive">
                <h3 class="titleOfPage">投保有礼
                    <a href="#" class="moreOfPic">/更多</a>
                </h3>
                <table class="table table-bordered table-hover home-page-table">
                    <thead>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>钻石会员</td>
                            <td>黄金会员</td>
                            <td>黄金会员</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>安盛天平</p>
                                <span>An Shengtianping</span>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="9.5" aria-valuemin="0" aria-valuemax="10" style="width: 95%">
                                        9.5% <span class="sr-only">9.5%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10" style="width:80%">
                                        8% <span class="sr-only">8%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2.5" aria-valuemin="0" aria-valuemax="10" style="width:25%">
                                        2.5% <span class="sr-only">2.5%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>阳光集团保险</p>
                                <span>Sunshine Insurance Group</span>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="10" style="width:20%">
                                        2% <span class="sr-only">2%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="10" style="width:10%">
                                        1% <span class="sr-only">1%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5.5" aria-valuemin="0" aria-valuemax="10" style="width:55%">
                                        5.5% <span class="sr-only">5.5%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>太平洋保险</p>
                                <span>Pacific Insurance</span>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="10" style="width:20%">
                                        2% <span class="sr-only">2%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="10" style="width:10%">
                                        1% <span class="sr-only">1%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5.5" aria-valuemin="0" aria-valuemax="10" style="width:55%">
                                        5.5% <span class="sr-only">5.5%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>太平保险公司</p>
                                <span>Taiping Insurance Chinese</span>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="10" style="width:20%">
                                        2% <span class="sr-only">2%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="10" style="width:10%">
                                        1% <span class="sr-only">1%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5.5" aria-valuemin="0" aria-valuemax="10" style="width:55%">
                                        5.5% <span class="sr-only">5.5%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>大地保险公司</p>
                                <span>The Earth Insurance</span>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="10" style="width:20%">
                                        2% <span class="sr-only">2%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="10" style="width:10%">
                                        1% <span class="sr-only">1%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5.5" aria-valuemin="0" aria-valuemax="10" style="width:55%">
                                        5.5% <span class="sr-only">5.5%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- / 投保有礼 -->

    <!-- 车险补贴说明 -->
    <div class="container margin-top">
        <h3 class="bottom-line no-margin-top">车险补贴说明</h3>
        <div class="row">
            <div class="col-md-3">
                <img class="img-thumbnail" src="{% static 'images/' %}insureGift/butie.png">
            </div>
            <div class="col-md-9">
                <ol class="info-list">
                    <li>
                        卡来宝提供的车险补贴，仅限通过卡来宝“车险”频道选择保险公司并直达保险公司官网，最终成功付款，并最终承保的卡来宝用户。
                    </li>
                    <li>
                        卡来宝给您提供的车险补贴，是按照您购买的车险的商业保费部分的一定比例返给。不同会员等级、不同保险 公司的补贴比例不同，详情可以参考上述图表。在您查看各保险公司保费报价的同时，也会有补贴金额的明示，请留意！
                    </li>
                    <li>
                        考虑到退货期，卡来宝提供的补贴，在您保单生效后的45个工作日返还到您的账户。届时，您可以在“个人中心”—“我的钱包”查询并提现！
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- / 车险补贴说明 -->
{% endblock %}