<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>卡来宝 -- 让车生活更美好！</title>
    <!--  SEO META TAGS -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="ghostrin" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <!-- Mobile Specific Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--Core CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" />
    <!--page CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="css/steps-page.css" />
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body class="steps-page">
    <!-- Top-bar BEGIN-->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <p>
                        <a href="javascript:window.external.AddFavorite('http://www.kalaibao.com','卡来宝')">收藏卡来宝</a></li> |
                        <a href="http://www.weibo.com/client=XXXX">关注卡来宝</a>
                    </p>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <ul>
                        <li class="login"><a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i>登 录</a></li>
                        <li class="sign-in"><a href="#"><i class="fa fa-tint"></i>注册 </a></li>
                        <li class="order"><a href="#"><i class="fa fa-shopping-cart"></i>订单查询</a></li>
                        <li class="user-center"><a href="#"><i class="fa fa-group"></i>用户中心</a></li>
                        <li class="help"><a href="#"><i class="fa fa-question"></i>帮助</a></li>
                        <!-- search form, maybe you like -->
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a>
                            <ul class="search-items radius-bottom">
                                <li class="search-form">                                 
                                    <form method="get" id="searchform" action="action">
                                        <div>
                                            <input class="radius" type="text" size="" name="s" id="s" value="请输入关键字" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
                                            <input type="submit" id="searchsubmit" value="Search" />
                                        </div>
                                    </form>                                   
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/.top-bar END-->

    <!-- Header BEGIN-->
    <header id="header">
        <nav class="navbar navbar-inverse" role="navigation">
            <div id="sticky_navigation">
                <div class="container">
                    <!--JUST FOR MOBILE-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">点击展开</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <h1 class="logo">
                          <a href="#" title="卡来宝" class="navbar-brand"><img src="images/logo.png"></a>
                          <i class="fa fa-slogn"></i>
                      </h1>
                    </div>
                    <!-- navbar-header END-->

                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">首 页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">车 险 <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">来宝好车险</a></li>
                                    <li><a href="#">保单验真</a></li>
                                </ul>
                            </li>
                            <li><a href="#">汽车召回</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">福 利 <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">投保有礼</a></li>
                                    <li><a href="#">推荐有礼</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">公 益 <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">公益新闻</a></li>
                                    <li><a href="#">公益图片</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">联系我们</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.container-->
            </div>
            <!--/#sticky_navigation-->
        </nav>
        <!--/nav-->
    </header>
    <!--/header-->
    <!-- =================== INCLUDE ABOVE TO YOUR WEBSITE ========================= -->

    <!-- 1、以下代码可以直接放置到step0===step4的页面中，存放到上一行的注释下面即可 -->

    <!-- 报价失败 -->
    <div class="container margin-top margin-bottom white-bg pricing-wrap">
     <div class="row padding-20">
        <div class="col-md-6 tc">
            <img src="images/rong.gif" style="margin-top:50px">
            <ul class="short-menu">
                <li><a href="#">关于我们</a></li>
                <li><a href="#">用户反馈</a></li>
                <li><a href="#">保单验真</a></li>
                <li><a href="#">使用帮助</a></li>
            </ul>
        </div>

        <div class="col-md-6">
           <h3>获取报价失败</h3>
           <p>从保险公司获取报价失败，可能是以下原因所致</p>
           <ol>
              <li>上你出现保险事故超过三次</li>
              <li>上你出现保险事故超过三次</li>
              <li>上你出现保险事故超过三次</li>
              <li>上你出现保险事故超过三次</li>
              <li>上你出现保险事故超过三次</li>
              <li>上你出现保险事故超过三次</li>
              <li>上你出现保险事故超过三次</li>
              <li>上你出现保险事故超过三次</li>
           </ol>
           <p><a href="#">重新报价</a>或免费客服电话致电</p>
           <h1 class="red">400-010-888888</h1>
        </div>
     </div>
    </div>

   <!-- loading 效果 -->
   <style type="text/css">
     /* 控制弹窗的高度 */
    .modal-dialog{margin: 240px auto 0;}
   </style>
    <!--loading Modal -->
    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loading" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">                
                <div class="modal-body tc">
                    <h5>正在为你加载数据，请耐心等待……</h5>
                    <img src="images/aCar.gif">
                   <!--  loading  -->
                    <div class="loading">
                        <dl class="barbox">
                            <dd class="barline">
                                <div w="80" style="width:0px;" class="charts"></div>
                            </dd>
                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--/.Modal -->

     <!--offer Modal -->
    <div class="modal fade" id="offer" tabindex="-1" role="dialog" aria-labelledby="loading" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">                
                <div class="modal-body tc">
                    <h5><i class="fa fa-check-square-o fa-3x pass"></i> 您的订单已经通过审核！</h5>
                    <p>巴拉巴拉一段文字，巴拉巴拉一段文字，巴拉巴拉一段文字，巴拉巴拉一段文字，</p>
                    <a href="#" class="btn btn-danger">跳转支付</a>
                </div>
            </div>
        </div>
    </div>
    <!--/.Modal -->

  <!-- footer -->
    <div class="footer">
        <p>Copyright © 2003-2015 kalaibao.net, All Rights Reserved　</p>
    </div>
  <!-- / footer -->

  <!-- back top -->
  <div id="back-top" style="display: block;">
      <a href="#header"><i class="fa fa-chevron-up"></i></a>
  </div>
  <!-- /.back top -->

    <!-- ============= JavaScript ============= -->
    <script src="js/jquery.min.js"></script>  
    <script src="js/bootstrap.min.js"></script>    
    <script src="js/app.js"></script>
    <script src="js/cityArea.js"></script>
    <script type="text/javascript">
      ///可以将下面这句封装一个function，页面进入后,待loading数据完成时调用，参考：http://v3.bootcss.com/javascript/#modals
      $('#loading').modal('toggle')
      /*$('#loading').on('loaded.bs.modal', function (e) {
          aler("数据加载完成")
        })*/

      /* 定单生效提示，解开本注释，需要关闭上面#loading的注释 */
      ///$('#offer').modal('toggle')

      /* loading 效果，数据加载时，动态给w赋值即可 */
      function animate(){
        $(".charts").each(function(i,item){
                var a = parseInt($(item).attr("w"));
                $(item).animate({
                    width: a +"%"
                },1000);
            });
        }
      animate();
    </script>

    <!-- ============= Statistics Script ============= -->
    <!-- BAIDU  statistics -->
    <!--<script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fxxxxxxxxxxxxxxxx' type='text/javascript'%3E%3C/script%3E"));
    </script>-->
    <!-- 51la  Statistics -->
    <!--<script language="javascript" type="text/javascript" src="http://js.users.51.la/yyyyy.js"></script>
    <noscript><a href="http://www.51.la/?yyyyyy" target="_blank"><img alt="卡来宝统计" src="http://img.users.51.la/yyyyyy.asp" style="border:none" /></a></noscript>-->
</body>
</html>