<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        form >div{
            height: 30px;
        }
        form >div >input{
            width: 1000px;
        }
    </style>
</head>
<body>
<form action="#" method="post">
<li>
   <h3>
    <div><label>城市代码:</label><input name="citycode" id="citycode" value=""><br></div>
    <div><label>车牌号码:</label><input name="licenseNo" id="licenseNo" value=""><br></div>
    <div><label>车主姓名:</label><input name="ownerName" id="ownerName" value=""><br></div>
    <div><label>车架号码:</label><input name="vin" id="vin" value=""><br></div>
    <div><label>发动机码:</label><input name="engineNo" id="engineNo" value=""><br></div>
    <div><label>投保人姓名:</label><input name="C_APP_NAME" id="C_APP_NAME" value=""><br></div>
    <div><label>投保人身份证:</label><input name="C_APP_IDENT_NO" id="C_APP_IDENT_NO" value=""><br></div>
    <div><label>投保人联系电话:</label><input name="C_APP_TEL" id="C_APP_TEL" value=""><br></div>
    <div><label>投保人地址:</label><input name="C_APP_ADDR" id="C_APP_ADDR" value=""><br></div>
    <div><label>投保人邮箱:</label><input name="C_APP_EMAIL" id="C_APP_EMAIL" value=""><br></div>
    <div><label>被投保人姓名:</label><input name="C_INSRNT_NME" id="C_INSRNT_NME" value=""><br></div>
    <div><label>被投保人身份证:</label><input name="C_INSRNT_IDENT_NO" id="C_INSRNT_IDENT_NO" value=""><br></div>
    <div><label>被投保人联系电话:</label><input name="C_INSRNT_TEL" id="C_INSRNT_TEL" value=""><br></div>
    <div><label>被投保人地址:</label><input name="C_INSRNT_ADDR" id="C_INSRNT_ADDR" value=""><br></div>
    <div><label>被投保人邮箱:</label><input name="C_INSRNT_EMAIL" id="C_INSRNT_EMAIL" value=""><br></div>
    <div><label>收件人:</label><input name="C_CONTACT_NAME" id="C_CONTACT_NAME" value=""><br></div>
    <div><label>收件地址:</label><input name="C_ADDRESS" id="C_ADDRESS" value=""><br></div>
    <div><label>XML:</label><textarea name="xml" id="xml"></textarea><br></div>
    <div><label>flag</label><input name="flag" id="flag" value=""><br></div>
    <div><label>orderno</label><input name="orderno" id="orderno" value=""></div>
    <div><label>businessCode</label><input name="businessCode" id="businessCode" value=""></div>
    <div><label>测试接口:</label><input name="action" id="action" value=""><br></div>
    <div><input type="submit" value="提交"></div>
    </h3>
</li>
</form>
</body>
</html>