<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">  
<html>  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
        <title>111</title>
    </head>  
    <body>  
        <button id='id1'>调用python</button>  
        <button id='id2'>关闭</button>  
        <button id='id3'>111</button>
    </body>  
    <script type="text/javascript" language="JavaScript">  
            document.getElementById('id1').onclick=function(){  
                python.TestLoadURL();
            };
            document.getElementById('id2').onclick=function(){  
                python.close();  
            };
            document.getElementById('id3').onclick=function(){
                python.ChangWindowSize();
            };
    </script>  
</html> 