{% load staticfiles %}
{% load memberstag %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>卡来宝 -- 让车生活更美好！</title>
    <!--  SEO META TAGS -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="ghostrin" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <!-- Mobile Specific Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <!--Core CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'stylesheets/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'stylesheets/awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'stylesheets/main.css' %}" />
    <!--page CSS -->
    {% block css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'stylesheets/user-center.css' %}" />
    {% endblock %}
    {% block style %}

    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <style>
        body{font-family: "宋体";}
        .impowerBox .qrcode {width: 200px !important;}
        .impowerBox .title {display: none !important;}
        .impowerBox .info {width: 200px !important;}
        .status_icon {display：none !important;}
        .impowerBox .status {text-align: center !important;}
    </style>
</head>

<body class="pricing-page">
    <!-- Top-bar BEGIN-->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <p>
                        <a href="javascript:AddFavorite('卡来宝','http://kalaibao.com');">收藏卡来宝</a></li> |
                        <a href="http://www.weibo.com/client=XXXX">关注卡来宝</a>
                    </p>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <ul>
{#                        <li class="login"><a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i>登 录</a></li>#}

                        {% if request.user.id %}
                            <li class="login"><a href="javascript:void(0);"><i class="fa fa-user"></i>
                                {% ifnotequal request.user.nick_name "" %}
                                    {{ request.user.nick_name }}
                                {% else %}
                                    {{ request.user.username }}
                                {% endifnotequal %}
                                你好</a></li>
                            <li class="order"><a href="/members/order_details/"><i class="fa fa-shopping-cart"></i>订单查询</a></li>
                            <li class="user-center"><a href="/members/"><i class="fa fa-group"></i>用户中心</a></li>
                            <li class="help"><a href="/members/help/"><i class="fa fa-question"></i>帮助</a></li>
                            <li class="help"><a href="/members/logout/"><i class="fa fa-sign-out"></i>注销</a></li>

                        {% else %}
                            <li class="login"><a href="/members/login/"><i class="fa fa-user"></i>登 录</a></li>
                            <li class="sign-in"><a href="/members/reg/"><i class="fa fa-tint"></i>注册 </a></li>
                            <li class="help"><a href="/members/help/"><i class="fa fa-question"></i>帮助</a></li>
                        {% endif %}


                        <!-- search form, maybe you like -->
{#                        <li class="search"><a href="#"><i class="fa fa-search"></i></a>#}
{#                            <ul class="search-items radius-bottom">#}
{#                                <li class="search-form">#}
{#                                    <form method="get" id="searchform" action="action">#}
{#                                        <div>#}
{#                                            <input class="radius" type="text" size="" name="s" id="s" value="请输入关键字" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />#}
{#                                            <input type="submit" id="searchsubmit" value="Search" />#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/.top-bar END-->
    <!-- Header BEGIN-->
    <header id="header">
        <nav class="navbar navbar-inverse" role="navigation">
            <div id="sticky_navigation">
                <div class="container">
                    <!--JUST FOR MOBILE-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">点击展开</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <h1 class="logo">
                            <a href="#" title="卡来宝" class="navbar-brand"><img src="{% static 'images/logo.png' %}"></a>
                            <i class="fa fa-slogn"></i>
                        </h1>
                    </div>
                    <!-- navbar-header END-->
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">首 页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">车险选优 <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/web/pricing/1/">卡来宝车险</a></li>
                                    <li><a href="/web/checkinsure/">保单验真</a></li>
                                </ul>
                            </li>
                            <li><a href="#">保养分期</a></li>
                            <li><a href="/web/recall/">汽车召回</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">福 利 <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/web/insureGift/">投保有礼</a></li>
                                    <li><a href="/web/gift/">推荐有礼</a></li>
                                </ul>
                            </li>
{#                            <li class="dropdown">#}
{#                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">公 益 <i class="fa fa-angle-down"></i></a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li><a href="#">公益新闻</a></li>#}
{#                                    <li><a href="#">公益图片</a></li>#}
{#                                </ul>#}
{#                            </li>#}
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.container-->
            </div>
            <!--/#sticky_navigation-->
        </nav>
        <!--/nav-->
    </header>
    <!--/header-->
    <!-- =================== INCLUDE ABOVE TO YOUR WEBSITE ========================= -->

    {% block content %}

    {% endblock %}

    <!-- footer -->
    <div class="footer">
        <p>Copyright © 2003-2015 kalaibao.net, All Rights Reserved　</p>
    </div>
    <!-- / footer -->

    <!-- back top -->
    <div id="back-top" style="display: block;">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- /.back top -->

    <!--login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">会员登录</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group clearfix">
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" value="用户名"
                                       onfocus="if(this.value=='用户名'){this.value='';this.style.color='#555'}"
                                       onblur="if(this.value==''){this.value='用户名';this.style.color='#f00'}">
                            </div>
                            <br>

                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">记住用户名和密码
                                </label>
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary pull-right">用户登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/.Modal -->

    <!--login Modal -->
    <div class="modal fade" id="agreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">卡来宝用户注册协议 </h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="mod-useragreement">
                            <div class="useragreement-content">


                                <!--
                                <h5>一、总则</h5>
                                <ul>
                                    <li>
                                        1．1　用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意"按钮即表示用户与百度公司达成协议，完全接受本协议项下的全部条款。
                                    </li>
                                    <li> 1．2　用户注册成功后，百度将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。
                                    </li>
                                    <li>
                                        1．3　用户一经注册百度帐号，除非子频道要求单独开通权限，用户有权利用该账号使用百度各个频道的单项服务，当用户使用百度各单项服务时，用户的使用行为视为其对该单项服务的服务条款以及百度在该单项服务中发出的各类公告的同意。
                                    </li>
                                    <li> 1．4　百度会员服务协议以及各个频道单项服务条款和公告可由百度公司随时更新，且无需另行通知。您在使用相关服务时,应关注并遵守其所适用的相关条款。
                                    </li>
                                </ul>
                                <p>
                                    您在使用百度提供的各项服务之前，应仔细阅读本服务协议。如您不同意本服务协议及/或随时对其的修改，您可以主动取消百度提供的服务；您一旦使用百度服务，即视为您已了解并完全同意本服务协议各项内容，包括百度对服务协议随时所做的任何修改，并成为百度用户。
                                </p>
                            </div>
                            <div class="useragreement-content">
                                <h5>二、注册信息和隐私保护</h5>
                                <ul>
                                    <li>
                                        2．1　百度帐号（即百度用户ID）的所有权归百度，用户完成注册申请手续后，获得百度帐号的使用权。用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。如果因注册信息不真实而引起的问题，并对问题发生所带来的后果，百度不负任何责任。
                                    </li>
                                    <li> 2．2　用户不应将其帐号、密码转让、出售或出借予他人使用，若用户授权他人使用账户，应对被授权人在该账户下发生所有行为负全部责任。
                                    </li>
                                    <li> 2．3　百度的<a href="http://www.baidu.com/duty/yinsiquan.html" target="_blank">隐私权保护声明</a>说明了百度如何收集和使用用户信息。您保证已经充分了解并同意百度可以据此处理用户信息。请点击链接查看：<a
                                            href="http://www.baidu.com/duty/yinsiquan.html" target="_blank">http://www.baidu.com/duty/yinsiquan.html</a>。
                                    </li>

                                </ul>
                            </div>
                            <div class="useragreement-content">
                                <h5>三、使用规则</h5>
                                <ul>
                                    <li> 3．1　用户在使用百度服务时，必须遵守中华人民共和国相关法律法规的规定，用户应同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶
                                    </li>
                                    <li> （1）上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：
                                    </li>
                                    <li> 1） 反对宪法所确定的基本原则的；
                                    </li>
                                    <li> 2） 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
                                    </li>
                                    <li> 3） 损害国家荣誉和利益的；
                                    </li>
                                    <li> 4） 煽动民族仇恨、民族歧视、破坏民族团结的；
                                    </li>
                                    <li> 5） 破坏国家宗教政策，宣扬邪教和封建迷信的；
                                    </li>
                                    <li> 6） 散布谣言，扰乱社会秩序，破坏社会稳定的；
                                    </li>
                                    <li> 7） 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
                                    </li>
                                    <li> 8） 侮辱或者诽谤他人，侵害他人合法权利的；
                                    </li>
                                    <li> 9） 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
                                    </li>
                                    <li> 10） 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；
                                    </li>
                                    <li> （2）不得为任何非法目的而使用网络服务系统；
                                    </li>
                                    <li> （3）不利用百度服务从事以下活动：
                                    </li>
                                    <li> 1）未经允许，进入计算机信息网络或者使用计算机信息网络资源的；
                                    </li>
                                    <li> 2） 未经允许，对计算机信息网络功能进行删除、修改或者增加的；
                                    </li>
                                    <li> 3） 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；
                                    </li>
                                    <li> 4） 故意制作、传播计算机病毒等破坏性程序的；
                                    </li>
                                    <li> 5） 其他危害计算机信息网络安全的行为。
                                    </li>
                                    <li>
                                        3．2　用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，您同意赔偿百度与合作公司、关联公司，并使之免受损害。对此，百度有权视用户的行为性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、回收百度帐号、追究法律责任等措施。对恶意注册百度帐号或利用百度帐号进行违法活动、捣乱、骚扰、欺骗、其他用户以及其他违反本协议的行为，百度有权回收其帐号。同时，百度公司会视司法部门的要求，协助调查。
                                    </li>
                                    <li> 3．3　用户不得对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。
                                    </li>
                                    <li>
                                        3．4　用户须对自己在使用百度服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在百度公司首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予百度公司等额的赔偿。
                                    </li>
                                </ul>
                            </div>
                            <div class="useragreement-content">
                                <h5>四、服务内容</h5>
                                <ul>
                                    <li> 4．1　百度网络服务的具体内容由百度根据实际情况提供。
                                    </li>
                                    <li> 4．2　除非本服务协议另有其它明示规定，百度所推出的新产品、新功能、新服务，均受到本服务协议之规范。
                                    </li>
                                    <li>
                                        4．3　为使用本服务，您必须能够自行经有法律资格对您提供互联网接入服务的第三方，进入国际互联网，并应自行支付相关服务费用。此外，您必须自行配备及负责与国际联网连线所需之一切必要装备，包括计算机、数据机或其它存取装置。
                                    </li>
                                    <li>
                                        4．4　鉴于网络服务的特殊性，用户同意百度有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。百度不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。
                                    </li>
                                    <li>
                                        4．5　百度需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，百度无需为此承担任何责任。百度保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。
                                    </li>
                                    <li> 4．6
                                        本服务或第三人可提供与其它国际互联网上之网站或资源之链接。由于百度无法控制这些网站及资源，您了解并同意，此类网站或资源是否可供利用，百度不予负责，存在或源于此类网站或资源之任何内容、广告、产品或其它资料，百度亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，百度不承担任何责任。
                                    </li>
                                    <li> 4．7
                                        用户明确同意其使用百度网络服务所存在的风险将完全由其自己承担。用户理解并接受下载或通过百度服务取得的任何信息资料取决于用户自己，并由其承担系统受损、资料丢失以及其它任何风险。百度对在服务网上得到的任何商品购物服务、交易进程、招聘信息，都不作担保。
                                    </li>
                                    <li> 4．8
                                        用户须知：百度提供的各种挖掘推送服务中（包括百度新首页的导航网址推送），推送给用户曾经访问过的网站或资源之链接是基于机器算法自动推出，百度不对其内容的有效性、安全性、合法性等做任何担保。
                                    </li>
                                    <li> 4．9　6个月未登陆的帐号，百度保留关闭的权利。
                                    </li>
                                    <li> 4．10　百度有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，百度对用户和任何第三人均无需承担任何责任。
                                    </li>
                                    <li> 4．11　终止服务
                                    </li>
                                    <li>
                                        您同意百度得基于其自行之考虑，因任何理由，包含但不限于长时间未使用，或百度认为您已经违反本服务协议的文字及精神，终止您的密码、帐号或本服务之使用（或服务之任何部分），并将您在本服务内任何内容加以移除并删除。您同意依本服务协议任何规定提供之本服务，无需进行事先通知即可中断或终止，您承认并同意，百度可立即关闭或删除您的帐号及您帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，您同意若本服务之使用被中断或终止或您的帐号及相关信息和文件被关闭或删除，百度对您或任何第三人均不承担任何责任。
                                    </li>
                                </ul>
                            </div>
                            <div class="useragreement-content">
                                <h5>五、知识产权和其他合法权益（包括但不限于名誉权、商誉权）</h5>
                                <ul>
                                    <li> 5．1　用户专属权利
                                    </li>
                                    <li> 百度尊重他人知识产权和合法权益，呼吁用户也要同样尊重知识产权和他人合法权益。若您认为您的知识产权或其他合法权益被侵犯，请按照以下说明向百度提供资料∶
                                    </li>
                                    <li>
                                        请注意：如果权利通知的陈述失实，权利通知提交者将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。如果上述个人或单位不确定网络上可获取的资料是否侵犯了其知识产权和其他合法权益，百度建议该个人或单位首先咨询专业人士。
                                    </li>
                                    <li> 为了百度有效处理上述个人或单位的权利通知，请使用以下格式（包括各条款的序号）：
                                    </li>
                                    <li> 1. 权利人对涉嫌侵权内容拥有知识产权或其他合法权益和/或依法可以行使知识产权或其他合法权益的权属证明；
                                    </li>
                                    <li> 2. 请充分、明确地描述被侵犯了知识产权或其他合法权益的情况并请提供涉嫌侵权的第三方网址（如果有）。
                                    </li>
                                    <li> 3. 请指明涉嫌侵权网页的哪些内容侵犯了第2项中列明的权利。
                                    </li>
                                    <li> 4. 请提供权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件。
                                    </li>
                                    <li> 5.
                                        请提供涉嫌侵权内容在信息网络上的位置（如指明您举报的含有侵权内容的出处，即：指网页地址或网页内的位置）以便我们与您举报的含有侵权内容的网页的所有权人/管理人联系。
                                    </li>
                                    <li> 6. 请在权利通知中加入如下关于通知内容真实性的声明：
                                        “我保证，本通知中所述信息是充分、真实、准确的，如果本权利通知内容不完全属实，本人将承担由此产生的一切法律责任。”
                                    </li>
                                    <li> 7. 请您签署该文件，如果您是依法成立的机构或组织，请您加盖公章。
                                    </li>
                                    <li> 请您把以上资料和联络方式书面发往以下地址：　　
                                    </li>
                                    <li> 中国北京市海淀区上地十街10号百度大厦，百度公司　产品事务组，邮政编码：100085。
                                    </li>
                                    <li>
                                        5．2　对于用户通过百度服务（包括但不限于贴吧、知道、MP3、影视等）上传到百度网站上可公开获取区域的任何内容，用户同意百度在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。
                                    </li>
                                    <li> 5．3　百度拥有本网站内所有资料的版权。任何被授权的浏览、复制、打印和传播属于本网站内的资料必须符合以下条件：
                                    </li>
                                    <li> （1） 所有的资料和图象均以获得信息为目的；
                                    </li>
                                    <li> （2） 所有的资料和图象均不得用于商业目的；
                                    </li>
                                    <li> （3） 所有的资料、图象及其任何部分都必须包括此版权声明；
                                    </li>
                                    <li> （4） 本网站（www.baidu.com）所有的产品、技术与所有程序均属于百度知识产权，在此并未授权。
                                    </li>
                                    <li> （5） “Baidu”, “百度”及相关图形等为百度的注册商标。
                                    </li>
                                    <li> （6） 未经百度许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，百度将依法追究法律责任。
                                    </li>
                                </ul>
                            </div>
                            <div class="useragreement-content">
                                <h5>六、青少年用户特别提示</h5>
                                <ul>
                                    <li> 青少年用户必须遵守全国青少年网络文明公约：
                                    </li>
                                    <li>
                                        要善于网上学习，不浏览不良信息；要诚实友好交流，不侮辱欺诈他人；要增强自护意识，不随意约会网友；要维护网络安全，不破坏网络秩序；要有益身心健康，不沉溺虚拟时空。
                                    </li>
                                </ul>
                            </div>
                            <div class="useragreement-content">
                                <h5>七、其他</h5>
                                <ul>
                                    <li> 7．1　本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。
                                    </li>
                                    <li> 7．2　如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向百度所在地的人民法院提起诉讼。
                                    </li>
                                    <li> 7．3　百度未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。
                                    </li>
                                    <li> 7．4　如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
                                    </li>
                                    <li> 7．5　欢迎用户使用百付宝进行合法网络交易，请您遵守<a
                                            href="http://co.baifubao.com/content/payhelp/B6/2008-12-25/123109208155.html"
                                            target="_blank">百付宝用户协议</a>。
                                    </li>

                                </ul>-->
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;加入和使用卡来宝表明您已经阅读并同意本使用条款，您的会员活动会遵从本使用条款。鉴于卡来宝并非是关乎国计民生或者垄断的行业及企业，因此您对本使用协议不认同的，完全可以选择不加入和使用卡来宝。
                                    本协议由您与北京卡来宝信息科技有限公司共同缔结，具有合同效力。
                                </p>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;本协议中协议双方合称协议方，北京卡来宝信息科技有限公司在协议中亦称为“卡来宝”，是一个为用户提供车险帮比、汽车保养分期、汽车金融及其他汽车相关增值服务的平台，域名为www.kalaibao.com。
                                </p>
                                   <p> 一、协议内容及签署</p>
                                <p>
                                    1、本协议内容包括协议正文及所有卡来宝已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何卡来宝及其关联公司提供的服务均受本协议约束。但法律法规另有强制性规定的，依其规定。
                                  </p>
                                    <p>    2、您在注册卡来宝账户时点击提交“我已阅读并且同意卡来宝的使用协议”即视为您接受本协议及各类规则，并同意受其约束。您应当在使用卡来宝服务之前认真阅读全部协议内容并确保完全理解协议内容，如您对协议有任何疑问的，应向卡来宝咨询。但无论您事实上是否在使用卡来宝服务之前认真阅读了本协议内容，只要您注册、正在或者继续使用卡来宝服务，则视为接受本协议。
                                        </p><p>3、您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用卡来宝服务。
                                        </p><p>4、卡来宝有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行公告。变更后的协议和规则一经在网站公布后，立即自动生效。卡来宝的最新的协议和规则以及网站公告可供您随时登陆查阅，您也应当经常性的登陆查阅最新的协议和规则以及网站公告以了解卡来宝最新动态。如您不同意相关变更，应当立即停止使用卡来宝服务。您继续使用服务的，即表示您接受经修订的协议和规则。本协议和规则（及其各自的不时修订）条款具有可分割性，任一条款被视为违法、无效、被撤销、变更或因任何理由不可执行，并不影响其他条款的合法性、有效性和可执行性。
                                        </p><p>二、会员及账户管理
                                        </p><p>1、申请资格
                                        </p><p>您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则需要监护人同意您方可注册成为卡来宝会员，否则您和您的监护人应承担因此而导致的一切后果，且卡来宝有权注销（永久冻结）您的卡来宝账户，并向您及您的监护人索偿或者追偿。
                                        卡来宝并无能力对您的民事权利能力和民事行为能力进行实质性审查，因此一旦您进行了注册，卡来宝可以视为您具备完全民事权利能力和完全民事行为能力。
                                       </p><p> 2、账户
                                        </p><p>在您签署本协议，完成会员注册程序或以其他卡来宝允许的方式实际使用卡来宝服务时，卡来宝会向您提供唯一编号的卡来宝账户（以下亦称账户）。
                                        您可以对账户设置会员名和密码，通过该会员名密码或与该会员名密码关联的其它用户名密码登陆卡来宝平台。您设置的会员名不得侵犯或涉嫌侵犯他人合法权益。
                                        您应对您的账户（会员名）和密码的安全，以及对通过您的账户（会员名）和密码实施的行为负责。如果发现任何人不当使用您的账户或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知卡来宝，要求卡来宝暂停相关服务。您理解卡来宝对您的请求采取行动需要合理时间，卡来宝对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。您认可您在注册、使用卡来宝服务过程中提供、形成的数据等相关信息的所有权及其他相关权利属于卡来宝，卡来宝有权使用上述信息。
                                        </p><p>3、会员
                                        在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他卡来宝允许的方式实际使用卡来宝服务时，您即成为卡来宝会员（亦称会员）。
                                        在注册时，您应当按照法律法规要求，或注册页面的提示准确提供，并及时更新您的资料，以使之真实、及时、完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，卡来宝有权向您发出询问及/或要求改正的通知，若您未能在卡来宝要求的合理期限内回复卡来宝的询问及/或完成改正，卡来宝有权做出删除相应资料并暂时停止账户的处理，直至终止对您提供部分或全部卡来宝服务，卡来宝对此不承担任何责任，您将承担因此产生的任何成本或支出。
                                        您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便卡来宝或保险公司与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用卡来宝服务过程中产生任何损失的，应由您完全独自承担，卡来宝对此不予承担。
                                        您在使用卡来宝服务过程中，所产生的应纳税费、会员费，以及一切硬件、软件、服务、账户维持及其它方面的费用，均由您独自承担。您同意卡来宝有权从您相关账户中优先扣除上述费用。
                                        </p><p>对于被卡来宝账户冻结或者暂时停止帐户的会员，卡来宝将不再提供会员连锁项目下的服务。
                                       </p><p> 三、卡来宝服务：
                                        </p><p>1、卡来宝会员（以下简称会员）可以通过购买卡来宝合作保险公司的车险产品、购买卡来宝汽车保养分期产品等获得额外的油卡或话费或其他奖励，以及参加卡来宝及其合作组织所举行的各种活动获得卡来宝标明的各类奖励和积分（卡来宝称为卡豆）。
                                        </p><p>2、卡来宝的奖励可以通过购买车险、推荐好友购买车险、购买汽车保养分期产品、或参加卡来宝的其他活动获得，具体奖励标准与奖品类别以卡来宝平台页面标示或公告或更新为准。
                                        </p><p>3、油卡或话费奖励是会员福利的一种，通过购买卡来宝合作保险公司的车险产品才能获得，购买车险之后在卡来宝规定的时限内，奖励会计入会员的卡来宝账户中，届时会员可自由支配。但如发生退保情况，会员则应将奖励退还卡来宝。
                                        </p><p>4、卡豆是会员通过推荐好友注册卡来宝会员或参加卡来宝其他活动获得。会员应当获得的卡豆由卡来宝根据相应规则计入会员在卡来宝之账户中。卡豆可以用来购买卡来宝会员卡或兑换其他商品。
                                        </p><p>5、卡来宝会员分为普通会员、黄金会员、钻石会员和白金会员。会员购买车险所获得的奖励因会员等级不同而有所不同，钻石会员与白金会员车险奖励最高。注册成为卡来宝会员时，请务必正确填写推荐码，推荐码是确定您会员等级的凭证，如不填推荐码则卡来宝默认您是普通会员。黄金会员与钻石会员资格可转让给他人，转让后，您将成为普通会员。
                                        </p><p>6、卡来宝为用户提供汽车召回免费查询服务，普通会员需自主通过车架号查询召回信息，黄金会员、钻石会员、白金会员可获得卡来宝的精准通知服务，会员可在其会员中心查询。
                                        </p><p>7、通过卡来宝及其关联公司或合作方提供的卡来宝服务和其它服务，会员可在业务规则允许范围内在卡来宝上平台上查询车险报价、汽车召回信息、服务信息，达成交易意向、提交投保申请、评价，参加卡来宝组织的活动以及使用其它信息服务及技术服务。
                                        </p><p>8、您在卡来宝的交易过程中与其他会员发生交易纠纷时，一旦您或其它会员任一方或双方共同提交卡来宝要求调处，则卡来宝有权根据单方判断做出调处决定，您了解并同意接受卡来宝的判断和调处决定。该决定将对您的纠纷具有约束力。
                                        </p><p>9、您了解并同意，卡来宝有权应政府部门（包括司法及行政部门）的正当合法的要求，向其提供您在卡来宝填写的注册信息和投保信息、交易纪录等必要信息。如您涉嫌侵犯他人的各种合法权益，则卡来宝亦有权在初步判断涉嫌侵权等违法行为存在的情况下，向权利人提供您必要的身份信息。除非法律法规或相关政府部门另有要求，卡来宝将在前述信息披露情况发生后及时向您发出书面通知。
                                        </p><p>四、卡来宝服务使用规范及处理规定
                                       </p><p> 在使用卡来宝服务过程中，您承诺遵守下列使用规范：
                                        </p><p>1、会员承诺其注册信息的正确性。
                                        </p><p>2、如果会员提供给卡来宝的资料有变更，请及时通知卡来宝做出相应的修改。
                                        </p><p>3、会员不得出现恶意注册恶意点击等行为。
                                        </p><p>4、超过两年无登陆记录的账号，卡来宝保留注销该帐户的权利。注销后该账户内所有奖励和积分自动清零且不予恢复。此时卡来宝不接受会员申请解冻或找回账户，相应的会员名将开放给任意用户注册登记使用。
                                        </p><p>5、在使用卡来宝服务过程中实施的所有行为均遵守国家法律、法规等规范性文件及卡来宝各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己独自承担所有的法律责任，并确保卡来宝免于因此产生任何损失。如卡来宝因此承担相应责任或者赔偿相关损失，则您承诺卡来宝可以向您追偿，相关责任或损失由您最终承担。
                                        </p><p>6、在对卡来宝合作保险公司进行评价的过程中，遵守诚实信用原则，不以虚构或歪曲事实的方式不当评价，不采取不正当方式降低其他合作方的信用度。
                                        </p><p>7、不对卡来宝平台上的任何数据作商业性利用，包括但不限于在未经卡来宝事先书面同意的情况下，以复制、传播等任何方式使用卡来宝网站上展示的资料。
                                        </p><p>8、卡来宝严禁会员通过以下行为获得利益，一经发现，卡来宝有权追回已经给予的相关奖励和卡豆和已经兑换的奖励，并视情节严重可中止会员账号直至注销会员账号，同时该会员必须承担由此给卡来宝带来的所有损失：
                                        </p><p>a)购买车险并获得奖励后恶意取消订单；
                                        </p><p>b)推荐好友购买车险并获得奖励后，恶意取消订单；
                                        </p><p>c)伪装成推荐好友，恶意注册，并获得卡豆；
                                        </p><p>d)劫持其他用户的正常推广链接使其为自己推广；
                                        </p><p>e)违反卡来宝、保险公司、卡来宝合作方的用户协议及其规则；
                                       </p><p> f)其他违反法律法规或者违反诚实信用、公平原则的行为。
                                        </p><p>9、卡来宝严禁各种针对卡来宝活动的作弊行为。对于查实的作弊行为，我们将收回该账号全部的邀请奖励（包括但不仅限于现金和卡豆等等）、取消邀请资格，扣除一定的积分，并列入卡来宝黑名单账户。作弊行为包括但不限于：使用相同的电脑、相同的IP地址在同一天内注册多个账号，以骗取邀请奖励的行为；以注册送钱或注册送积分等利益诱导用户来注册卡来宝获取奖励的行为等。
                                        </p><p>10、您不得使用任何装置、软件或例行程序干预或试图干预卡来宝平台的正常运作或正在卡来宝上进行的任何交易、活动。您不得采取任何将导致不合理的庞大数据负载加诸卡来宝网络设备的行动，否则卡来宝将追究您的相关责任，包括但不限于取消相关积分、收回相关奖励（包括但不仅限于现金和卡豆等等）、取消邀请资格、列入卡来宝黑名单账户、冻结账户或者注销账户等。如造成卡来宝损失或者承担相应法律责任的，卡来宝有权要求您赔偿并最终承担相应的责任。
                                        </p><p>您了解并同意卡来宝有权作如下处理：
                                        </p><p>1、卡来宝有权对您是否违反上述承诺做出单方认定，并根据单方认定结果适用规则予以处理，这无须征得您的同意。
                                       </p><p> 2、经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者卡来宝根据自身的判断，认为您的行为涉嫌违反本协议和/或规则的条款或涉嫌违反法律法规的规定的，则卡来宝有权在卡来宝上公示您的该等涉嫌违法或违约行为及卡来宝已对您采取的措施。
                                        </p><p>3、对于您在卡来宝上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，卡来宝有权予以删除，且按照规则的规定进行处罚。
                                        </p><p>4、对于您在卡来宝上实施的行为，包括您未在卡来宝上实施但已经对卡来宝及其用户产生影响的行为，卡来宝有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并据此作出相应处罚。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果。
                                        </p><p>5、对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保卡来宝免于因此产生损失或增加费用。如卡来宝因此承担相应责任或者赔偿相关损失，则您承诺卡来宝可以向您追偿，相关责任或损失由您最终承担，相关损失包括合理的律师费用、相关机构的查询费用等。
                                       </p><p> 6、如您涉嫌违反有关法律或者本协议之规定，使卡来宝遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿卡来宝因此造成的损失及（或）发生的费用，包括合理的律师费用、相关机构的查询费用等。
                                        </p><p>7、卡来宝上展示的资料（包括但不限于文字、图表、标识、图像、数字下载和数据编辑）均为卡来宝或其内容提供者的财产或者权利；卡来宝上所有内容的汇编是属于卡来宝的著作权；卡来宝上所有软件都是卡来宝或其关联公司或其软件供应商的财产或者权利，上述知识产权均受法律保护。如您侵犯上述权利，卡来宝有权根据规则对您进行处理并追究您的法律责任。
                                        </p><p>8、卡来宝并无能力对您的相关注册、登记资料进行实质性审查，因此一旦因您的的注册、登记资料的问题导致的相关后果应全部由您自己承担，卡来宝对此不承担责任。如果根据法律法规要求卡来宝先行承担了相关责任，那么您承诺卡来宝有权向您追偿，由您最终承担上述责任。
                                        </p><p>五、特别授权
                                        </p><p>您完全理解并不可撤销地授予卡来宝及其关联公司下列权利：
                                        </p><p>1、一旦您向卡来宝或其关联公司或其合作组织作出任何形式的承诺，且相关公司或组织已确认您违反了该承诺，则卡来宝有权立即按您的承诺或协议约定的方式对您的账户采取限制措施，包括中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，除非法律法规另有明确要求，卡来宝无须就相关确认与您核对事实，或另行征得您的同意，且卡来宝无须就此限制措施或公示行为向您承担任何的责任。
                                        </p><p>2、一旦您违反本协议，或与卡来宝签订的其他协议的约定，卡来宝有权以任何方式通知卡来宝关联公司或其合作组织，要求其对您的权益采取限制措施，包括但不限于要求卡来宝将您账户内的积分支付给卡来宝指定的对象，要求关联公司中止、终止对您提供部分或全部服务，且在其经营或实际控制的任何网站公示您的违约情况。
                                        </p><p>3、对于您在注册、登记或者交易中记录的资料及数据信息，您授予卡来宝及其关联公司或其合作组织独家的、永久的、免费的全球范围内使用的权利。
                                        </p><p>4、卡来宝及其关联公司有权受理您与其他会员因交易产生的争议，并有权单方判断与该争议相关的事实及应适用的规则，进而作出处理决定。该处理决定对您有约束力。如您未在限期内执行处理决定的，则卡来宝及其关联公司有权利（但无义务）直接处分您卡来宝账户内的积分。如该争议造成卡来宝及其关联公司损失的，您应及时弥补卡来宝及其关联公司的损失，否则卡来宝及其关联公司有权直接抵减您在合同项下和账户中的权益，并有权继续追偿。
                                        </p><p>六、责任范围和责任限制
                                        </p><p>1、卡来宝仅对自身提供的服务承担责任。卡来宝对于第三方向会员提供的服务和产品不提供保证也不承担任何责任，但应当协助会员和第三方进行交涉谈判以维护会员合法权益。
                                        </p><p>2、除非法律法规明确要求，或出现以下情况，否则，卡来宝没有义务对所有用户的注册数据、个人或车辆信息及其它事项进行事先审查：
                                        </p><p>a) 卡来宝有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形。
                                        </p><p>b) 卡来宝有合理的理由认为用户在卡来宝的行为涉嫌违法或不当。
                                        </p><p>3、您理解并同意，卡来宝及其关联公司并非司法机构，仅能以普通人的身份对证据进行鉴别，卡来宝及其关联公司对争议的调处完全是基于您的委托，卡来宝及其关联公司无法保证争议处理结果符合您的期望，也不对争议调处结论承担任何责任。如您因此遭受损失，您同意自行通过法律途径向受益人或者其他相关人员索偿。
                                        </p><p>4、您了解并同意，卡来宝不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于奖励、积分、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论卡来宝是否已被告知该等损害赔偿的可能性)：
                                        </p><p>a)第三方未经批准的使用您的账户或更改您的数据。
                                        </p><p>b)通过卡来宝服务购买或获取任何产品、样品、数据、信息或进行交易等行为或替代行为产生的费用及损失，但因卡来宝提供的服务信息错误所导致的除外。
                                        </p><p>c)您对卡来宝服务的误解。
                                        </p><p>d)任何非因卡来宝的原因而引起的与卡来宝服务有关的其它损失。
                                        </p><p>5、因使用卡来宝服务而引起的任何损害或经济损失，卡来宝承担的全部责任均不超过您通过卡来宝所购买的或与该索赔有关的服务或商品的价格。本责任限制条款在会员资格被冻结、暂停或注销后仍继续有效。
                                       </p><p> 6、不论在何种情况下，卡来宝均不对由于罢工、暴乱、起义、骚乱、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令，以及其它非因卡来宝的原因而造成的不能服务或延迟服务承担责任。卡来宝会尽合理努力处理善后事宜。
                                        </p><p>七、协议终止
                                        </p><p>1、您同意，卡来宝有权依据本协议决定中止、终止向您提供部分或全部卡来宝平台服务，暂时冻结或永久冻结（注销）您的账户，且无须为此向您或任何第三方承担任何责任，但本协议或法律法规另有明确要求的除外。
                                        </p><p>2、出现以下情况时，卡来宝有权直接以注销账户的方式终止本协议：
                                        </p><p>a)会员超过两年无登陆记录；
                                        </p><p>b) 卡来宝终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为卡来宝用户的；
                                        </p><p>c)您提供的手机号码或电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或卡来宝以其它联系方式通知您更改手机号码或电子邮件信息，而您在卡来宝通知后七个工作日内仍未更改为有效的手机号码或电子邮箱的；
                                        </p><p>d)您注册信息中的主要内容不真实或不准确或不及时或不完整；
                                        </p><p>e)本协议（含规则）变更时，您明示并通知卡来宝不愿接受新的服务协议的；
                                        </p><p>f)其它卡来宝认为应当终止服务的情况。
                                        </p><p>3、您有权向卡来宝要求注销您的账户，经卡来宝审核同意的，卡来宝注销（永久冻结）您的账户，届时，您与卡来宝基于本协议的合同关系即终止。您的账户被注销（永久冻结）后，卡来宝没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。
                                        </p><p>4、您同意，您与卡来宝的合同关系终止后，卡来宝及其关联公司或者其合作组织仍享有下列权利：
                                        </p><p>a)继续保存并使用您的注册、登记信息、数据及您使用卡来宝服务期间的所有交易数据。
                                        </p><p>b)您在使用卡来宝服务期间存在违法行为或违反本协议和/或规则的行为的，卡来宝仍可依据本协议向您主张权利。
                                        </p><p>八、隐私权政策
                                        </p><p>1、卡来宝对希望成为会员的用户没有任何限制，但18岁以下的用户使用卡来宝服务必须取得监护人的同意；
                                        </p><p>2、一个帐号仅限一个会员使用，会员必须向卡来宝提供真实确实的信息，对于由于资料提供不正确导致汇款无法收到等后果，卡来宝不承担责任；
                                        </p><p>3、会员资料修改后必须及时通知卡来宝做出相应变更；
                                        </p><p>4、卡来宝及其关联公司承诺不向其它第三方机构透露会员涉及隐私的信息；
                                        </p><p>5、会员必须遵守卡来宝（及合作组织）的使用条款及隐私政策。
                                        </p><p>九、法律适用、管辖与其他
                                        </p><p>1、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。
                                        </p><p>2、因本协议产生之争议，应依照中华人民共和国法律予以处理。双方对于争议协商不成的，应当提交北京卡来宝信息科技有限公司营业地所在的北京市朝阳区人民法院诉讼解决。

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.Modal -->
    {% block footer %}
    {% endblock %}
    <!-- ============= JavaScript ============= -->
    <script src="{% static 'javascripts/jquery.min.js' %}"></script>
    <script src="{% static 'javascripts/bootstrap.min.js' %}"></script>

    <script src="{% static 'javascripts/layer/layer.js' %}"></script>
    <script src="{% static 'javascripts/jquery.zclip.min.js' %}"></script>
    <script src="{% static 'javascripts/app.js' %}"></script>
    <script src="{% static 'javascripts/public.js' %}"></script>

    {% block footerjs %}

    {% endblock %}
</body>
</html>